@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar{
    @apply bg-transparent w-2
}
.scrollbar-hidden::-webkit-scrollbar-thumb{
    @apply bg-transparent rounded-full
}
.scrollbar-hidden:hover::-webkit-scrollbar-thumb{
    @apply bg-white/30
}

.title{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}